
<h1>Your shopping cart list</h1>
<div class="sectionFrame">
        <div class="rowBlock">
        </div>
        <table>
        <tr>
            <th>
                Name
            </th> 
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Sub-total
            </th>
        </tr>
        <tr id="cartList">
            <td colspan="4" height="155px">
                <h2>Aun no hay productos agregados</h2>
            </td>
        </tr>
        </tr>
        <tr>
            <td colspan="3" class="totales">
                SUB-TOTAL
            </td>
            <td id="subtotal">
        </tr>
        <tr>
            </td>
            <td colspan="3" class="totales">
                TOTAL
            </td>
            <td id="total" >

            </td>        
        </tr>
        </table>
          <ul id="menuList" class="rowBlock" >
          </ul>
  
  
          <div id="createCheckCTA" class="ctaWrapper">
            <a class="cta green" href="session/create">Log in</a>
          </div>
        
  </div>